body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    color: #14213d;
}

header {
    background-color: #14213d;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #fca311;
    padding: 20px;
}

nav a {
    color: #14213d;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fca311;
}

section {
    padding: 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #14213d;
}

#about {
    background-color: #000000;
    text-align: center;
    color: #e5e5e5;
}

#projects {
    background-color: #e5e5e5;
    padding: 50px 0;
    text-align: center;
}

.project {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.project img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.1);
}

.project-details {
    text-align: left;
}

.project-details h3 {
    color: #14213d;
    font-size: 24px;
    margin-bottom: 10px;
}

.project-details p {
    color: #14213d;
    font-size: 16px;
    margin-bottom: 20px;
}

.joke {
    text-align:center;
    margin-top: 50px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
